name: Auto Approve PRs

permissions:
  pull-requests: write
  contents: read

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'jsredmond'
    steps:
      - name: Auto-approve pull request
        uses: hmarr/auto-approve-action@44888193675f29a83e04faf4002fa8c0b366a1434 # v4.0.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
