name: Auto Approve PRs

permissions:
  pull-requests: write
  contents: read

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'jsredmond'
    steps:
      - name: Auto-approve pull request
        uses: hmarr/auto-approve-action@f0939ea97e9205ef24d872e76833fa908a770363 # v4.0.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
